<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tasty Time</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
    <link href="../css/toast.css" rel="stylesheet">

  </head>

  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4 text-center">
                     <a href="/views/list.html"><img src="/img/tastytime_logo.png" style="width:50%"/></a>
                  </div>
                  <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                      <button class="btn btn-sm btn-default" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                  </div>
              </div>
          </div>
      </nav>

      <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4"  style="padding:10px 0 0 15px;">
                      <button class="btn btn-sm btn-warning" id="logout"><strong><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> 목록</strong></button>
                  </div>
                  <div class="col-xs-4 text-center">
                      <img src="/img/tastytime_logo.png" style="width:50%"/>
                  </div>
                  <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                      <button class="btn btn-sm btn-success" id="logout"><strong>수정 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  </div>
              </div>
          </div>
      </nav> -->




    <div class="container">

        <div class="row" style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ddd">
            <div class="col-xs-6">
                <button class="btn btn-sm btn-danger" id="delete"><strong><i class="fa fa-times" aria-hidden="true"></i> 삭제</strong></button>
            </div>
            <div class="col-xs-6 text-right">
                 <button class="btn btn-sm btn-success" id="update"><strong>수정 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-xs-6">
                <strong><i class="fa fa-user" aria-hidden="true"></i> 주선자 : <span id="name"></span></strong>
            </div>
            <div class="col-xs-6 text-right">
                <strong><span id="team"></span></strong>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom:10px;">
            <div class="col-xs-12">
                <h4><strong><span id="title"></span></strong></h4>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;" id="makeImage">
            <!-- <div class="col-xs-2 text-right">
                <img src="/img/plate_50x50.png">
            </div>
            <div class="col-xs-10 text-right">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <h4><span class="label label-G" id="location">광화문</span></h4>
                        <h5><strong><i class="fa fa-clock-o" aria-hidden="true"></i> <span id=meetingdate></span></strong></h5>
                    </div>
                </div>
            </div> -->
        </div>

      <div class="form-group row">
        <!-- <label for="contents" class="col-md-2 col-form-label">내용</label> -->
        <div class="col-md-10">
          <textarea class="form-control" style="background-color:#fff" rows="5" id="contents" readonly="readonly"></textarea>
        </div>
      </div>
      <div class="form-group row" id="attendQ">
        <!-- <label for="attendBtn" class="col-md-2 col-form-label">참석여부</label> -->
        <div class="col-md-10">
          <a class="btn btn-sm btn-info btn-block" role="button" id="attendBtn">
              <h4>
                  <i class="fa fa-handshake-o fa-lg"></i><strong> 참석</strong>
              </h4>
          </a>
        </div>
      </div>
      <div class="form-group row" id="attendN">
        <!-- <label for="attendBtnN" class="col-md-2 col-form-label">참석여부</label> -->
        <div class="col-md-10">
          <a class="btn btn-sm btn-warning btn-block" role="button" id="attendBtnN">
              <h4 style="margin:0px">
                  <span class="fa-stack fa-lg">
                  <i class="fa fa-handshake-o"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
              </span><strong>불참석</strong>
              </h4>
          </a>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="attendList" class="col-md-2 col-form-label">참석자명단</label>
        <div class="col-md-10" id="attendList"> -->
          <!-- <a class='btn btn-sm btn-primary' role='button' id='attendee'></a> -->
        <!-- </div>
      </div> -->
      <p>참석자명단</p>
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-xs-12" id="attendList">
                      
                  </div>
              </div>
          </div>
      </div>

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/detail.js"></script>

  </body>
</html>
