<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="/img/tastytime_logo.png" /> <!-- 114 -->
    <link rel="shortcut icon" href="/img/tastytime_logo.png" /> <!-- 72 -->
    <title>Tasty Time</title>
    
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/detail.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
    <!-- <link href="../css/toast.css" rel="stylesheet"> -->
  </head>

  <body>
      <div class="displayNone" id='loading'>
        <div class='centerMiddle'>
          <img src='/img/loading.gif'/>
        </div>
      </div>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4 text-left" style="padding:10px 0 0 15px;">
                    <button class="btn btn-sm btn-default button-shadow" onclick="location.href='/views/list.html'";><strong><i class="fa fa-list" aria-hidden="true"></i> 목록으로</strong></button>
                </div>
                  <div class="col-xs-4 text-center">
                     <a href="/views/list.html"><img src="/img/tastytime_logo.png" style="width:50px; height: 50px;"/></a>
                  </div>
                  <div class="col-xs-4 text-right " style="padding:10px 15px 0 0;" >
                      <button class="btn btn-sm btn-default button-shadow" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                  </div>
              </div>
          </div>
      </nav>

    <div class="container displayNone">

        <div class="row" style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ddd" id="mine">
            <div class="col-xs-6">
                <button class="btn btn-sm btn-danger button-shadow" id="delete"><strong><i class="fa fa-times" aria-hidden="true"></i> 삭제</strong></button>
            </div>
            <div class="col-xs-6 text-right">
                 <button class="btn btn-sm btn-success button-shadow" id="update"><strong>수정 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-xs-6">
                <strong><i class="fa fa-user" aria-hidden="true"></i> 주선자 : <span id="name"></span></strong>
            </div>
            <div class="col-xs-6 text-right">
                <strong><span id="team"></span></strong>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom:10px;">
            <div class="col-xs-12">
                <h4><strong><span id="title"></span></strong></h4>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;" id="makeImage">
            <!-- 밥/술/커피 이미지 처리 및 광화문/우면동/분당 글자 처 -->
        </div>

      <div class="form-group row">
        <div class="col-md-10">
          <textarea class="form-control" style="background-color:#fff" rows="5" id="contents" readonly="readonly"></textarea>
        </div>
      </div>

      <!-- 참석여부: 참석/불참석 -->
      <div class="form-group row" id="attendQ">
        <div class="col-md-10">
          <a class="btn btn-sm btn-info btn-block button-shadow" role="button" id="attendBtn">
              <h4>
                  <strong>나는 </strong><i class="fa fa-handshake-o fa-lg"></i><strong> 참석</strong>
              </h4>
          </a>
        </div>
      </div>

      <div class="form-group row" id="attendN">
        <div class="col-md-10">
          <a class="btn btn-sm btn-warning btn-block button-shadow" role="button" id="attendBtnN">
              <h4 style="margin:0px">
              <strong>나는</strong>
                  <span class="fa-stack fa-lg">
                  <i class="fa fa-handshake-o"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
              </span><strong>불참석</strong>
              </h4>
          </a>
        </div>
      </div>
      
      <p>참석자명단</p>
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-xs-12" id="attendList">
                    <!-- 여기부터 참가자 반복문으로 처리 -->                
                  </div>
              </div>
          </div>
      </div>

  </body>
</html>
