<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rice Time 상세</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
    <link href="../css/toast.css" rel="stylesheet">

  </head>

  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4 text-center">
                     <a href="/views/list.html"><img src="/img/tastytime_logo.png" style="width:50%"/></a>
                  </div>
                  <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                      <button class="btn btn-sm btn-default" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                  </div>
              </div>
          </div>
      </nav>

      <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4"  style="padding:10px 0 0 15px;">
                      <button class="btn btn-sm btn-warning" id="logout"><strong><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> 목록</strong></button>
                  </div>
                  <div class="col-xs-4 text-center">
                      <img src="/img/tastytime_logo.png" style="width:50%"/>
                  </div>
                  <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                      <button class="btn btn-sm btn-success" id="logout"><strong>수정 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  </div>
              </div>
          </div>
      </nav> -->




    <div class="container">

        <div class="row" style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ddd">
            <div class="col-xs-6">
                <button class="btn btn-sm btn-danger" id="logout"><strong><i class="fa fa-times" aria-hidden="true"></i> 삭제</strong></button>
            </div>
            <div class="col-xs-6 text-right">
                 <button class="btn btn-sm btn-success" id="logout"><strong>수정 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-xs-6">
                <strong><i class="fa fa-user" aria-hidden="true"></i> 주선자 : 김상열</strong>
            </div>
            <div class="col-xs-6 text-right">
                <strong>플랫폼사업개발팀</strong>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom:10px;">
            <div class="col-xs-12">
                <h4><strong>오늘 시간되시는분</strong></h4>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-2 text-right">
                <img src="/img/plate_50x50.png">
            </div>
            <div class="col-xs-10 text-right">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <h4><span class="label label-G">광화문</span></h4>
                        <h5><strong><i class="fa fa-clock-o" aria-hidden="true"></i> 2017-12-31 오후 12:59</strong></h5>
                    </div>
                </div>
            </div>
        </div>


      <!-- <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">작성자</label>
        <div class="col-md-10">
          <input class="form-control" type="text" id="name" readonly="readonly">
          <p class="form-control-static" id="name" style="padding-left: 10px; font-size: 15px"></p>
        </div>
      </div>
      <div class="form-group row">
        <label for="team" class="col-md-2 col-form-label">팀</label>
        <div class="col-md-10">
          <input class="form-control" type="text" id="team" readonly="readonly">
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label">제목</label>
        <div class="col-md-10">
          <input class="form-control" type="text" id="title" readonly="readonly">
          <p class="form-control-static" id="title" style="padding-left: 10px; font-size: 15px"></p>
        </div>
      </div> -->
      <!-- <div class="form-group row">
        <label for="place" class="col-md-2 col-form-label">장소</label>
        <div class="col-md-10">
          <input class="form-control" type="text" id="location" readonly="readonly">
          <p class="form-control-static" id="location" style="padding-left: 10px; font-size: 15px"></p>
        </div>
      </div>
      <div class="form-group row">
        <label for="meetDay" class="col-md-2 col-form-label">만남일</label>
        <div class="col-md-10">
          <input class="form-control" type="datetime-local" id="meetingdate" readonly="readonly">
          <p class="form-control-static" id="meetingdate" style="padding-left: 10px; font-size: 15px"></p>
        </div>
      </div> -->
      <!-- <div class="form-group row">
        <label for="category" class="col-md-2 col-form-label">범주</label>
        <div class="col-md-10">
          <input class="form-control" type="text" id="category" readonly="readonly">
        </div>
      </div> -->
      <div class="form-group row">
        <!-- <label for="contents" class="col-md-2 col-form-label">내용</label> -->
        <div class="col-md-10">
          <textarea class="form-control" style="background-color:#fff" rows="5" id="contents" readonly="readonly"></textarea>
        </div>
      </div>
      <div class="form-group row" id="attendQ">
        <!-- <label for="attendBtn" class="col-md-2 col-form-label">참석여부</label> -->
        <div class="col-md-10">
          <a class="btn btn-sm btn-info btn-block" role="button" id="attendBtn">
              <h4>
                  <i class="fa fa-handshake-o fa-lg"></i><strong> 참석</strong>
              </h4>
          </a>
        </div>
      </div>
      <div class="form-group row" id="attendN">
        <!-- <label for="attendBtnN" class="col-md-2 col-form-label">참석여부</label> -->
        <div class="col-md-10">
          <a class="btn btn-sm btn-warning btn-block" role="button" id="attendBtnN">
              <h4 style="margin:0px">
                  <span class="fa-stack fa-lg">
                  <i class="fa fa-handshake-o"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
              </span><strong>불참석</strong>
              </h4>
          </a>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="attendList" class="col-md-2 col-form-label">참석자명단</label>
        <div class="col-md-10" id="attendList"> -->
          <!-- <a class='btn btn-sm btn-primary' role='button' id='attendee'></a> -->
        <!-- </div>
      </div> -->
      <p>참석자명단</p>
      <div class="panel panel-default">
          <div class="panel-body">

              <div class="row">
                  <div class="col-xs-12">
                      <span class="label label-invite">김상열</span>
                      <span class="label label-invite">장원철</span>
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="form-group pull-right">
        <a href="/views/update.html" class="btn btn-primary" role="button" id="update">수정</a>
        <a class="btn btn-primary" role="button" id="delete">삭제</a>
        <a class="btn btn-primary" role="button" id="list">목록</a>
      </div> -->

    <!-- <div id="attendYes">"참석" 으로 변경되었습니다.</div>
    <div id="attendNo">"불참" 으로 변경되었습니다.</div> -->
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/detail.js"></script>

  </body>
</html>
