<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tasty Time</title>
    <!-- 바탕화면 아이콘 세 -->
    <link rel="apple-touch-icon" href="/img/tastytime_logo.png" /> <!-- 114 -->
    <link rel="shortcut icon" href="/img/tastytime_logo.png" /> <!-- 72 -->
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row"  style="border-width:0 0 1px 0; border-color:#cd0c0c; border-style:solid;">
                <div class="col-xs-4">
                    
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/views/list.html"><img src="/img/tastytime_logo.png" style="width:50px; height: 50px;"/></a>
                </div>
                <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                    <button class="btn btn-sm button-shadow btn-default" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                </div>
            </div>
        

        <!-- <div class="container"> -->
            <div class="row" style="margin-top:12px;margin-bottom:5px;">

                <div class="col-xs-9" style="padding: 3px 0 0 30px">
                    <!-- <span class="label label-List button-shadow label-T" style="margin-right:5px;"><strong>전체</strong></span> -->
                    <span class="label label-List button-shadow label-G" style="margin-right:5px;"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 광화문</strong></span>
                    <span class="label label-List button-shadow label-W" style="margin-right:5px;"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 우면동</strong></span>
                    <span class="label label-List button-shadow label-B"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 분당</strong></span>
                    <div class="col-xs-12" style="padding: 3px 0 0 0">
                        <span style="margin-right:5px;font-size: 10px"><strong><i class="fa fa-arrow-up" aria-hidden="true"></i> 위 버튼을 클릭하시면 해당되는 지역을 보실 수 있습니다.</strong></span>
                    </div>
                </div>
                
                <div class="col-xs-3 text-right" style="padding: 3px 30px 0 0">
                    <a href="/views/write.html" class="btn btn-sm button-shadow btn-success"><strong>등록 <i class="fa fa-plus-circle" aria-hidden="true"></i></strong></a>
                </div>
            </div>
        </div>

    </nav>

    <div class="container-fluid" style="margin-top: 75px">
        
            <!-- <div class="row" style="margin-top:15px;margin-bottom:15px;">
                <div class="col-xs-9" style="padding: 3px 0 0 15px">
                    <span class="label label-List button-shadow label-G" style="margin-right:5px;"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 광화문</strong></span>
                    <span class="label label-List button-shadow label-W" style="margin-right:5px;"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 우면동</strong></span>
                    <span class="label label-List button-shadow label-B"><strong><i class="fa fa-building-o" aria-hidden="true"></i> 분당</strong></span>
                    <div class="col-xs-12" style="padding: 3px 0 0 0">
                        <span style="margin-right:5px;font-size: 10px"><strong><i class="fa fa-arrow-up" aria-hidden="true"></i> 위 버튼을 클릭하시면 해당되는 지역을 보실 수 있습니다.</strong></span>
                    </div>
                </div>
                
                <div class="col-xs-3 text-right">
                    <a href="/views/write.html" class="btn btn-sm button-shadow btn-success"><strong>등록 <i class="fa fa-plus-circle" aria-hidden="true"></i></strong></a>
                </div>
            </div> -->

        <div class="row" id="panelGroup">
                <!-- 패널을 반복해서 보여줌 -->
        </div>

    </div>

    <img src="/img/top.png" style="width:50px; height: 50px;" id="scrollUp" />

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/list.js"></script>

  </body>
</html>
