<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tasty Time</title>
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/views/list.html"><img src="/img/tastytime_logo.png" style="width:50%"/></a>
                </div>
                <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                    <button class="btn btn-sm btn-default" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-6">
                <select class="form-control input-sm" id="selectBox">
                  <option>전체</option>
                  <option>광화문</option>
                  <option>우면동</option>
                  <option>분당</option>
                </select>

                <!-- <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> <span class="label label-success">광화문</span>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> <span class="label label-success">우면동</span>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> <span class="label label-success">분당</span>
                </label> -->
            </div>
            <div class="col-xs-6 text-right">
                <a href="/views/write.html" class="btn btn-sm btn-success">
                    <strong><i class="fa fa-plus-circle" aria-hidden="true"></i> 등록</strong>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-xs-12 text-right">
                <span class="label label-G" style="margin-right:5px;">광화문</span>
                <span class="label label-W" style="margin-right:5px;">우면동</span>
                <span class="label label-B">분당</span>
            </div>
        </div>

        <!-- <h1>Rice Time<span class="glyphicon glyphicon-log-out pull-right" style="padding-right: 15px; font-size: 15px;" id="logout"></span></h1> -->


        <form class="form-inline">

        <!-- <div class="col-xs-5 col-md-4">
          <select class="form-control" id="selectBox">
            <option>전체</option>
            <option>광화문</option>
            <option>양재</option>
            <option>분당</option>
          </select>
        </div> -->

        <!-- 작성화면 버튼 -->
        <!-- <div class="col-xs-7 col-md-8">
          <a href="/views/write.html"><span class="glyphicon glyphicon-plus pull-right" id="write"></span></a>
        </div> -->
        </form>

        <div class="row" id="panelGroup">
            
        </div>

        <!-- 패널 -->
<!--         <div class="row">
            <div class="col-xs-12">
                <div class="panel-group" id="panelGroup">

                  <div class="panel panel-default" id="panel">
                  </div>

                  여기부터 리스트 받아와서 반복하여 보여줌

                </div>
            </div>
        </div>
 -->
    </div>

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/list.js"></script>

  </body>
</html>
