<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="/img/tastytime_logo.png" /> <!-- 114 -->
    <link rel="shortcut icon" href="/img/tastytime_logo.png" /> <!-- 72 -->

    <title>Tasty Time</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="row">
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4 text-center">
                      <img src="/img/tastytime_logo.png" style="width:50px; height: 50px;"/>
                  </div>
                  <div class="col-xs-4 text-right" style="padding:10px 15px 0 0;">
                      <button class="btn btn-sm btn-default" id="logout"><strong>로그아웃 <i class="fa fa-sign-out" aria-hidden="true"></i> </strong></button>
                  </div>
              </div>
          </div>
      </nav>

    <div class="container">
        <div class="row" style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ddd">
            <div class="col-xs-6">
                <button class="btn btn-sm btn-warning" id="back"><strong><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> 취소</strong></button>
            </div>
            <div class="col-xs-6 text-right">
                 <button class="btn btn-sm btn-success" id="submit"><strong>등록 <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="row" style="padding-top:20px;padding-bottom:20px;">
            <div class="col-xs-6">
                <strong><i class="fa fa-user" aria-hidden="true"></i>&nbsp;주선자 : <span id="name"></span></strong>
            </div>
            <div class="col-xs-6 text-right">
                <strong><span id="team"></span></strong>
            </div>
        </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input class="form-control" type="text" placeholder="제목" id="title" maxlength="50" required>
        </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="location" id="inlineRadio1" value="광화문" checked>
                      </div>
                      <span class="label label-G">광화문</span>
                  </div>
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="location" id="inlineRadio1" value="우면동">
                      </div>
                      <span class="label label-W">우면동</span>
                  </div>
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="location" id="inlineRadio1" value="분당">
                      </div>
                      <span class="label label-B">분당</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="category" id="inlineRadio1" value="밥" checked>
                      </div>
                      <img src="/img/plate_50x50.png">
                  </div>
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="category" id="inlineRadio1" value="술">
                      </div>
                      <img src="/img/beer_50x50.png">
                  </div>
                  <div class="col-xs-4 text-center">
                      <div>
                          <input type="radio" name="category" id="inlineRadio1" value="커피">
                      </div>
                      <img src="/img/coffee_50x50.png">
                  </div>
              </div>
          </div>
      </div>

      <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12">
          <input class="form-control" type="datetime-local" id="meetingDate">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <textarea class="form-control" rows="5" id="contents" maxlength="250" required>
식당이름:
메뉴:
세부사항:</textarea>
        </div>
      </div>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/store-js/store.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/update.js"></script>

  </body>
</html>
